.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(160, 52, 184);
}

nav {
  color: white;
}

.navbar-brand {
  padding: 0em 0em 0em 1em;
}

.nav-item {
  padding: 1em 1em 1em 0em;
}